/* variables */

:root{
  --bg:#1f242d;
  --bg2:#323946;
  --text:#fff;
  --main:#0ef;
}

/* default style */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}
iframe{
  display: none;
}
a{  color:var(--text);}
span{
  color: var(--main);
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main);
  font-size: 1.6rem;
  color: var(--bg2);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .4s ease;
}
.btn:hover{
  box-shadow: none;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background:var(--bg);
  color:var(--text);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: var(--bg);
  z-index: 100;
}
header.sticky{
  border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
  font-size: 2.5rem;
  cursor: default;
  font-weight: 600;
}

.nav a{
  font-size: 1.7rem;
  margin-left: 4rem;
  position: relative;
}
.nav a::after{
  display: inline;
  position: absolute;
  content: "";
  width: 100%;
  transform: scale(0);
  height:2%;
  background:var(--main);
  bottom: 0;
  left: 0;
  transition: .3s;
}
.nav a:hover,.nav a:hover::after,.nav a.active{
  color: var(--main);
  transform: scale(1);
}

#menu{
  font-size: 3.6rem;
  display: none;
}

/* home  section */

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}
.home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p{
  font-size: 1.6rem;
}
.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: .2rem solid var(--main);
  width:4rem;
  height:4rem;
  border-radius: 100%;
  font-size: 2rem;
  color: var(--main);
  margin: 3rem 1.5rem 3rem 0;
  transition: .4s ease ;
}

.social-media a:hover{
  background: var(--main);
  color: var(--bg2);
  box-shadow: 0 0 1rem var(--main);
}
.home-btn{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.home-img img{
  width: 30vw;
  animation:srini 4s ease-in-out infinite;
}

@keyframes srini{
  0%{
transform: translateY(0);
  }
  50%{
    transform: translateY(-2.4rem);
  }
  100%{transform: translateY(0);}
}


/* about section */

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg2);
}
.about-img img{ 
width: 30vw;
animation:srini 4s ease-in-out infinite;
}
.heading{
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2{
  text-align: left;
  line-height: 1.2;
}
.about-content h3{
  font-size: 2.6rem;
}
.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}


/* services */

.services h2{
  margin-bottom: 5rem;
}
.services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.services-container .services-box{
  flex:1 1 30rem;
  background: var(--bg2);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg);
  transition: .4s ease;
}
.services-container .services-box:hover{
  border-color: var(--main);
  transform: scale(1.02);
}
.services-box .icon{
  font-size: 7rem;
  color: var(--main);
}
.services-box h3{
  font-size: 2.6rem;
}
.services-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* portfolio */

.portfolio{
  background: var(--bg2); 
}
.portfolio h2{
  margin: 4rem;
}
.portfolio-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap:2.5rem;
}
.portfolio-container .portfolio-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg);
  display: flex;
  overflow: hidden;
}
.portfolio-box img{
  width: 100%;
  transition: .4s ease;
}
.portfolio-box:hover img{
  transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: linear-gradient(rgba(0,0,0,.1),var(--main));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .4s ease;
}
.portfolio-box:hover .portfolio-layer{
  transform: translateY(0);
}
.portfolio-layer h4{
  font-size: 3rem;
}
.portfolio-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}
.portfolio-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background:var(--text) ;
  border-radius: 100%;
}
.portfolio-layer a .icon{
  font-size: 2rem;
  color: var(--bg2);
}

/* contact */
.contact h2{
  margin-bottom: 3rem;
}
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
  width:100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text);
  background: var(--bg2);
  border-radius: .8rem;
  margin: .7rem 0;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

/* footer */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem ;
  background: var(--bg2);
}
.footer .footer-text{
  font-size: 1.6rem;
}
.footer .footer-iconTop a{
display:inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
background: var(--main);
border-radius: .8rem;
transition: .4s ease;
}
.footer .icon{
  font-size: 2.4rem;
  color: var(--bg2);
}
.footer a:hover{
  box-shadow: 0 0 1rem var(--main);
}

/* responsive breakpoints */
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width:991px){
 .header{
  padding: 2rem 3%;
 }
section{
padding: 10rem 3% 2rem;
}
.services{
  padding-bottom: 7rem;
}
.portfolio{
  padding-bottom: 7rem;
}
.contact{
  min-height: auto;
}
.footer{
  padding: 2rem 3%;
}
}
@media (max-width:768px){
 #menu{
  display: block;
  cursor: pointer;
 }
 .nav{
  position: absolute;
  top:100%;
  left:0;
  width: 100%;
  padding: 1rem 3%;
  background: var(--bg);
  border-top:.1rem solid rgba(0,0,0,.2);
  box-shadow: .5rem 1rem rgba(0,0,0,.2);
display: none;
}
  .nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;

  }
  .nav.active{
    display: block;
  }
  .home{
    flex-direction: column;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .home-content h3{
font-size: 2.6rem;
  }
  .home-img img{
    width: 60vw;
    margin-top: 4rem;
  }
  .about{
    flex-direction: column-reverse;
  }
  .about img{
    width: 60vw;
    margin-top: 4rem;
  }
  .services h2{
    margin-bottom: 3rem;
  }
  .portfolio h2{
    margin-bottom: 3rem;
  }
  .portfolio-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:617px){
  .portfolio-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .contact form .input-box input{ 
    width:100%;
  }
  .home-btn{
    flex-direction: column;
  } 
}

@media (max-width:365px){
  .home-img img{
    width:80vw;
  }
  .about-img img{
    width: 80vw;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer p{
    text-align: center;
    margin-top: 2rem;
  }

}